<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Company Name</th>
                <th scope="col">Designation</th>
            </tr>

        </thead>
        <!-- [class]="item.company.designation==='angular Developer' ? 'bg-success' : '' " -->
        <tbody>
            <tr>
                <td>
                    <!-- <i class="bi bi-search"></i> -->
                    <input type="search" [(ngModel)]="searchName" class="form-control" id="1" placeholder="🔍 Search">

                </td>
                <td>
                    <!-- <i class="bi bi-search"></i> -->
                    <input type="search" [(ngModel)]="searchCompany" class="form-control" id="2" placeholder="🔍 Search">

                </td>
                <td>
                    <!-- <i class="bi bi-search"></i> -->
                    <input type="search" [(ngModel)]="searchDesignation" class="form-control" id="3" placeholder="🔍 Search">

                </td>

            </tr>
            @for (item of usersList() | searchPipe:searchName:'name' | searchPipe:searchCompany:'company.name' | searchPipe:searchDesignation:'company.designation' ; track $index) {
            <tr>
                <td [ngClass]="{ 'bg-success':item.company.designation==='angular Developer' }">{{item.name}}</td>
                <td [ngClass]="{ 'bg-success':item.company.designation==='angular Developer' }">{{item.company.name}}</td>
                <td [ngClass]="{ 'bg-success':item.company.designation==='angular Developer' }">{{item.company.designation}}</td>
            </tr>

            }

             <!-- @for (item of usersList() | searchPipe:searchName| searchPipe:searchCompany | searchPipe:searchDesignation ; track $index) {
            <tr>
                <td [ngClass]="{ 'bg-success':item.company.designation==='angular Developer' }">{{item.name}}</td>
                <td [ngClass]="{ 'bg-success':item.company.designation==='angular Developer' }">{{item.company.name}}</td>
                <td [ngClass]="{ 'bg-success':item.company.designation==='angular Developer' }">{{item.company.designation}}</td>
            </tr>

            } -->


        </tbody>
    </table>
</div>